@font-face {
  font-family: "Minion Pro Regular";
  src: url("../fonts/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minion Pro Italic";
  src: url("../fonts/MinionPro-It.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
